<h3>Perpustakaan Kasih Ibu</h3>
<p>Web ini dirancang untuk pegawai perpustakaan dalam hal pendataan dan peminjaman buku.  </p>
<p>Setiap pegawai bertanggung jawab terhadap buku yang dikelolanya.  </p>
<p>------------------------------</p>
<p>MENU DAFTAR BUKU SAYA</p>
<p>------------------------------</p>
<p>Setiap pegawai dapat menambah, mengubah, dan menghapus data buku melalui menu "Daftar Buku Saya" .  </p>
<p>Setiap pegawai dapat menambah data buku dengan memencet tombol + di bagian kanan bawah.  </p>
<p>Setiap pegawai hanya dapat mengubah serta menghapus buku yang ia tambahkan.  </p>
<p>Setiap pegawai dapat melihat detail buku dengan memencet nama buku yang diinginkan.  </p>
<p>-----------------------------------</p>
<p>MENU DAFTAR BUKU LENGKAP</p>
<p>-----------------------------------</p>
<p>Setiap pegawai dapat melihat semua buku termasuk oleh pegawai lain melalui menu "Daftar Buku Lengkap".</p>
<p>Setiap pegawai dapat melihat buku apa saja yang dimiliki seorang pegawai dengan memencet nama akun pegawai.</p>
<p>Setiap pegawai dapat melihat detail buku dengan memencet keterangan.  </p>